* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 8%;
    background-color: pink;
}

.login-form {
    margin-left: 450px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 5px 10px black;
}

.login-form h2 {
    text-align: center;
    background-color: blueviolet;
    padding: 12px 0px;
    color: white;
}

.login-form form {
    padding: 30px 60px;
}

.login-form form .input-field {
    display: flex;
    flex-direction: row;
}

.login-form form .input-field i {
    color: darkslategray;
    padding: 10px 14px;
    background-color: #f2f4f6;
    margin-right: 4px;
}

.login-form form .input-field input {
    background-color: #f2f4f6;
    padding: 10px;
    border: none;
    width: 100%;
    padding-left: 15px;
}

.login-form button {
    width: 100%;
    background-color: blue;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 15px 0;
}